<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>React Microfrontends</title>
    <meta name="importmap-type" content="systemjs-importmap" />
    <script
      type="systemjs-importmap"
      src="http://localhost:5000/importmap.json"
    ></script>
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@react-mf/root-config": "//localhost:9000/react-mf-root-config.js"
        }
      }
    </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
  </head>
  <body>
    <script>
      System.import("@react-mf/root-config");
      System.import("@react-mf/styleguide");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
